<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UrlToMango" value="http://localhost:3001"/>
    <add key="DotaGameClientUserName" value="Thantsking"/>
    <add key="DotaGameClientPassword" value="aPhan3sah"/>
    <add key="DotaGameClientDownloadReplayTimeout" value="5"/>
  </appSettings>
</configuration>